{% extends 'base.html.twig' %}

{% block title %}Score index{% endblock %}

{% block body %}
    <h1>Score index</h1>

    <div class="row row-cols-1 row-cols-md-4 g-4">
                        {% for score in scores %}
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ score.Subject.Name }}</h5>
                                        <h6 class="card-title"> {{ score.Student.Name}}
                                        <p >Point1 {{ score.Point1 }}</p>
                                        <p >Point2 {{ score.Point2 }}</p>
                                        
                                    </div>
                                    <div class="card-footer">       
                                        <a href="{{ path('app_score_show', {'id': score.id}) }}"
                                           class="btn btn-primary">Show</a>
                                        <a href="{{ path('app_score_edit', {'id': score.id}) }}"
                                           class="btn btn-primary">Edit</a>   
                                    </div>   
                                </div>
                            </div>
                        {% endfor %}
                        
                        
                    </div>

    
{% endblock %}
